:root {
  --main-fonts-color: #212121;
  --secondary-fonts-color: #757575;
  --sec-background-color: #f5f4fa;
  --main-bck-color: #e5e5e5;
  --top-bottom-background-color: #2f303a;
  --accent-color: #2196f3;
}
a {
  text-decoration: none;
}

p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}
li {
  list-style-type: none;
}
body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.main-nav {
  display: flex;
}

.nav-links {
  display: flex;
  align-items: center;
}

.item-links:not(:last-child) {
  margin-right: 50px;
}

.nav-links.header-links {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-right: 93px;
  width: 145px;
}

.adress-header {
  margin-left: auto;
}

.colortext_bottom {
  color: var(--main-bck-color);
}
.colortext {
  color: black;
}

header {
  background: #ffffff;
}

.header-contacts {
  text-decoration: none;
  font-style: normal;
  color: var(--secondary-fonts-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.header-contacts:focus,
.header-contacts:hover {
  color: var(--accent-color);
}

.header-links {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-fonts-color);
  padding: 32px 0;
}

.header-links:focus,
.header-links:hover {
  color: var(--accent-color);
}
/*Hero section*/
.hero {
  background-color: #2f303a;
}
.hero-h {
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.button-hero {
  color: var(--main-bck-color);
  background: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
}
button {
  color: var(--main-fonts-color);
  background: var(--sec-background-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 62;
}

button:focus,
button:hover {
  color: #ffffff;
  background: var(--accent-color);
}

/*main*/
.title2 {
  color: var(--main-fonts-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
.title3 {
  color: var(--main-fonts-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.19;
  text-transform: uppercase;
}

.sub-title3 {
  font-size: 14px;
  line-height: 1.7;
  color: var(--secondary-fonts-color);
}

.description-index {
  color: var(--secondary-fonts-colo);
  font-size: 16px;
  line-height: 1.19;
}

.main-section2 {
  background-color: var(--sec-background-color);
}

/*footer*/

footer {
  background-color: var(--top-bottom-background-color);
}
.adress-footer {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
}

.contacts-footer {
  text-decoration: none;
  font-style: normal;
  color: var(--secondary-fonts-color);
}

/*Portfolio*/
.hidden-h {
  visibility: hidden;
}
.descrip-portfolio {
  color: var(--main-fonts-color);
  font-size: 18px;
  line-height: 2;
}
.project-name-p {
  color: var(--secondary-fonts-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.portfolio-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio-items:not(:last-child) {
  margin-right: 8px;
}
