:root {
  --main-fonts-color: #212121;
  --secondary-fonts-color: #757575;
  --sec-background-color: #f5f4fa;
  --main-bck-color: #e5e5e5;
  --top-bottom-background-color: #2f303a;
  --accent-color: #2196f3;
}
body {
  font-family: "Roboto", sans-serif;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.colortext {
  color: black;
}

a {
  text-decoration: none;
}

header {
  background: #ffffff;
}

li {
  list-style-type: none;
}

header {
  background-color: #ffffff;
}

.header-contacts {
  text-decoration: none;
  font-style: normal;
  color: var(--secondary-fonts-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.header-contacts:focus,
.header-contacts:hover {
  color: var(--accent-color);
}

.header-links {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-fonts-color);
}

.header-links:focus,
.header-links:hover {
  color: var(--accent-color);
}
/*Hero section*/
.hero {
  background-color: #2f303a;
}
.hero-h {
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.button-hero {
  color: #ffffff;
  background: var(--accent-color);
}

button:focus,
button:hover {
  color: #ffffff;
  background: var(--accent-color);
}

/*main*/
.title2 {
  color: var(--main-fonts-color);
}
.title3 {
  color: var(--main-fonts-color);
}
.description-index {
  color: var(--secondary-fonts-colo);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.main-section {
  background-color: var(--sec-background-color);
}

/*footer*/

footer {
  background-color: var(--top-bottom-background-color);
}
.adress-footer {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
}

.contacts-footer {
  text-decoration: none;
  font-style: normal;
  color: var(--secondary-fonts-color);
}

/*Portfolio*/
.hidden-h1 {
  visibility: hidden;
}
.descrip-portfolio {
  color: var(--main-fonts-color);
  font-size: 18px;
  line-height: 2;
}
.project-name-p {
  color: var(--secondary-fonts-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
s